
body{
  font-family: "Arial";
    text-align: center;
}

p{
  margin: 0;
}

section{
  position:relative;
}

.logo{
  font-family: 'Euphoria Script', cursive;
  font-size: 33px;
}

.header{
  padding-bottom: 160px;
  position: relative;
  background-image: url(../images/Background_Image.png);
  background-size: cover;
  background-attachment: fixed;
}

.foreground{
  position: relative;
  z-index: 2;
  padding-top: 17px;
}
.overlay{
background-color: #000000;
  opacity: 0.5;
 height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  max-height: 100%
}
.overlay img{
  width: 100%;
  max-height:100% ;
  object-fit: cover;
}

.hero-title{
font-family: "Arial MT";
  font-size: 75px;
}

.hero-subtitle{
margin-top: 109px;
  font-size: 40px;
  font-family: "Arial MT";
}

.section-title{
  color: #222222;
}

.section-subtitle{
  color: #777777;
  font-size: 16px;
}

.card{
  border: none;
  background: none;
}
.yellow-icon{
  border-radius: 50%;
  width: 68px;
  height: 68px;
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 3px solid #fed136;
  color: #fed136;
}

.card-text{
  font-family: "Times New Roman PSMT";
  color: #777777;
  font-size: 18px;
}

.card-title{
  font-size: 18px;
  color: #222222;
  font-weight: 700;
}

.background-green-light{
  background-color: #f7f7f7;
}


.circked{
  border-radius: 50%;
  overflow: hidden;
}

.small-icon{
    border-radius: 50%;
  width: 41px;
  height: 41px;
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border: 2px solid black;
  color: black;
}

.form-control.textarea-h{
  height: 163px;
  resize: none;
}
